body {
	background-color: transparent;
	text-align: center;
  background-image: url(http://assets.jackinthebox.com/products/18/image/large_JrBaconCheeseburger.png);
	background-size:30px;
  color: black;
  font-family: futura;
  font-size: 22px;
}

.heading {
	background-color: white;
	text-align: center;
	font-size: 42px;
	font-family: futura;
}


.buttonAndInput {
	background-color: transparent;
}

.output {
	background-color:transparent;

}